<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Task for Me | Services</title>
    <link rel="stylesheet" href="./scss/main/our-team.scss">
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
</head>

<body>
  
  <div class="all">
  
    <div class="lefter">
      <div class="text">Unity Game Developer</div>
    </div>
  
    <div class="left">
      <div class="text">Mobile App Developer</div>
    </div>
  
    <div class="center">
      <div class="explainer"><span>Our Team</span></div>
      <div class="text" style="text-align: center;">CEO Rana Waqas Ali</div>
      </div>
  
    <div class="right">
      <div class="text">Full Stack Web Developer</div>
    </div>
    
    <div class="righter">
      <div class="text">SEO Expert</div>
    
    </div>
    
  </div>

</body> 

</html>