<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Task for Me | Services</title>
    <link rel="stylesheet" href="./scss/main/services.scss">
    <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
</head>

<body>
  
  <div class="all">
    
    <div class="lefter2">
      <div class="text">Mathematical Assignments</div>
    </div>
    
    <div class="lefter">
      <div class="text">Content Writing</div>
    </div>
    
    <div class="left">
      <div class="text">SEO</div>
    </div>
    
    <div class="center">
      <div class="explainer"><span>Services</span></div>
      <div class="text">Web Development</div>
    </div>
    
    <div class="right">
      <div class="text">App Development</div>
    </div>
    
    <div class="righter">
      <div class="text">Game Development</div>
    </div>
    
    <div class="righter2">
      <div class="text">Programming Tutor</div>
    </div>
    
  </div>  

</body>   
</html>