<div class="section-top-stem__rating">
  <div class="section-top-stem__rating__stars">
    <img src="/images/main-landing-page-images/redesign/icons/ico_review-stars.svg" alt="review stars">
    <span>4.9</span>
  </div>
  <span class="section-top-stem__rating__description">
    <span>based on 294847</span> customer`s reviews
  </span>
</div>
