<style>
  @media (min-width: 900px) {
    #beemari {
      position: relative;
      left: 52px;
    }

  }
</style>

<div class="section section-top-experts section--grey-secondary">
  <div class="container">
    <div class="section-top-experts__inner">
      <div class="section-top-experts__heading">
        <h2>Meet our STEM &amp; coding experts</h2>
        <p class="section__subtitle">Each of our experts is highly experienced and qualified to deal with any tasks
          in their field. All you need to do is ask them for assistance.</p>
      </div>
      <div class="section-top-experts__banner">
        <img src="/images/main-landing-page-images/redesign/home/section-top-experts/ico_star.svg" width="34"
          height="44" alt="" loading="lazy">
        <p>15 years of experience in the STEM assignments and academic writing</p>
      </div>

      <div class="section-top-experts__slide splide is-initialized" data-writers="" id="splide01" role="region">
        <div class="splide__track" id="splide01-track">
          <div class="writers splide__list" id="splide01-list" style="">
            <div class="writers__item splide__slide1" id="splide01-slide01" style="">
              <img src="/images/main-landing-page-images/redesign/home/section-top-experts/img_Henry.webp" width="287"
                height="287" loading="lazy" alt="representative writer" class="writers__item__img">
              <div class="writers__item__top">
                <span class="writers__item__name">Henry</span>
                <img src="/images/main-landing-page-images/redesign/home/section-top-experts/ico_starts-points.svg"
                  alt="writer's points" class="writers__item__stars">
                <span class="writers__item__points">5.0</span>
              </div>
              <p class="writers__item__text" id="beemari"> A physicist who understands thermodynamics.</p>
            </div>
            <div class="writers__item splide__slide1" id="splide01-slide02" style="">
              <img src="/images/main-landing-page-images/redesign/home/section-top-experts/img_Carl.webp" width="287"
                height="287" loading="lazy" alt="representative writer" class="writers__item__img">
              <div class="writers__item__top">
                <span class="writers__item__name">Carl</span>
                <img src="/images/main-landing-page-images/redesign/home/section-top-experts/ico_starts-points.svg"
                  alt="writer's points" class="writers__item__stars">
                <span class="writers__item__points">4.7</span>
              </div>
              <p class="writers__item__text">A programmer who codes in C++ and Python. He completes each
                task with great attention.</p>
            </div>
            <div class="writers__item splide__slide1" id="splide01-slide03" style="">
              <img src="/images/main-landing-page-images/redesign/home/section-top-experts/img_Rachel.webp" width="287"
                height="287" loading="lazy" alt="representative writer" class="writers__item__img">
              <div class="writers__item__top">
                <span class="writers__item__name">Rachel</span>
                <img src="/images/main-landing-page-images/redesign/home/section-top-experts/ico_starts-points.svg"
                  alt="writer's points" class="writers__item__stars">
                <span class="writers__item__points">4.9</span>
              </div>
              <p class="writers__item__text">A microbiologist, she can help with a basic assignment about
                plant cells, as well as with advanced tasks.</p>
            </div>

            <div class="writers__item splide__slide1" id="splide01-slide04" style="">
              <img src="/images/main-landing-page-images/redesign/home/section-top-experts/img_heart.webp" width="287"
                height="287" alt="" loading="lazy" class="writers__item__img">
              <a href="/form" class="btn btn--orange">Find your coding expert</a>
              <a href="/writers" class="btn btn--white-orange">More about our experts</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
